header{
	position: absolute;
	top:0px;
	left:0px;
	text-indent: 40px;
	background:linear-gradient(#efccff 70%,#cd5cdd);
	width: 100%;
}
header h2{
	letter-spacing:3px;
	font-family: Tahoma, Geneva, sans-serif;
	color:#cd5cdd;
	text-shadow:2px 2px 2px #550088;
}
header h1{
	font-size: 40px;
	font-family: 'Paytone One', sans-serif;
	color:#550088;
	text-shadow: 2px 2px 2px white;
}

body{
	background-color:#ddccff;
}

#cart{
	position: absolute;
	top:25px;
	right:170px;
	z-index: 2;
}
#cartCount{
	position: absolute;
	top:10px;
	right:140px;
	line-height: 20px;
	z-index: 2;
	background-color: red;
	border:solid black;
	border-radius: 50%;
	height:20px;
	width:20px;
	padding:3px;
	text-align: center;
	color:white;
	font-family: arial;
	visibility: hidden;
}

#money{
	position: absolute;
	top:0px;
	right:0px;
	padding:20px 15px 20px 15px;
	background: #fdfdfdfd;
	border:solid black;
	border-radius:0px 0px 0px 25px;
	color:#22aa22;
	font-family: tahoma, arial;
	font-weight:bold;
}

#checkout{
	position: relative;
	background-color: white;
	font-family: Tahoma, Geneva, sans-serif;
	width:500px;
	height:fit-content;
	padding:5px 20px 20px 20px;
	top:130px;
	left:30%;
}
#cost{
	position: absolute;
	right:25px;
	font-weight:bold;
}
#items div{
	width:fit-content;
	border:solid black;
	background-color:#c9c7c7;
	border-radius:10px;
	padding:5px;
	margin:10px; 
}
#items div:hover{
	cursor:pointer;
	background-color: #f5a0a0;
}
#buyBtn{
	position: absolute;
	right:25px;
	bottom:25px;
	padding:10px 40px 10px 40px;
	border-radius: 10px;
	font-weight: bold;
	background-color: #93af9b;
	outline: none;
}
#buyBtn:hover{
	cursor: pointer;
	background-color: #1bef1b;
}

#content{
	display:grid;
	grid-template-columns:33% 33% 33%;
	position: absolute;
	top:170px;
	left:13%;
}

.itemBox {
	background-color:grey;
	width:200px;
	height:200px;
	cursor: pointer;
	padding:10px;
	margin:40px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position:center;
}

.itemBox:hover{
    background-color:#6fbacc;
}

.descBox{
	display: none;
	position:relative;
	width:210px;
	left:-10px;
	top:210px;
	text-align:center;
	color:#d0e8ce;
	border:solid #337799;
	background-color: #344034;
	border-width:3px;
	font-family:sans-serif;
	font-weight:bold;
	padding:2px;
}

.buy{
	display: none;
	position: relative;
	color:white;
	background-color:#22bb66; 
	width:70px;
	padding:7px;
	border-radius:20px;
	font-size:20px;
	font-weight:bold;
	top:195px;
	left:160px;
}

.buy:hover{
	cursor: pointer;
	background-color: #00ff00;
}

main{
	padding-bottom: 900px;
}
footer{
	width:100%;
	height:fit-content;
	background: white;
	text-align: center;
	border-top:solid black;
	font-family: arial;
}

/*Media Query for Mobile*/
@media only screen and (max-width:1050px){
	header{
		text-indent: 20px
	}
	header h2{
		font-size:20px;
	}
	header h1{
		font-size:30px;
	}
	#content{
		top:100px;
		grid-template-columns:300px 0;
	}
	main{
		padding-bottom: 2400px;
	}
	#checkout{
		margin:auto;
		left:0;
		width:330px;
	}
	#checkoutHeader{
		font-size:23px;
	}
	footer{
		font-size:13px;
	}
}

@media only screen and (max-width:800px){
	#content{
		display: block;
	}

	.itemBox{
		transform: translateX(19%);
		margin:118px auto;
	}

	#money{
		font-size: 12px;
		font-weight: normal;
		padding:8px;
		width: 70px;
		text-align: right;
	}

	#cart{
		width:17px;
		right:115px;
	}

	#cartCount{
		width:9px;
		height:9px;
		font-size: 11px;
		line-height: 9px;
		right:100px;
	}
}

@media only screen and (max-width: 490px){
	header h1{
		font-size: 22px;
	}

	header h2{
		font-size: 15px;
	}

	#checkout{
		width:82%;
	}
	#checkout button{
		padding:5px 9px 5px 9px;
	}

	.itemBox{
		margin:0;
		transform: scale(.8);
	}
}

@media only screen and (max-width: 490px){
	.itemBox{
		transform: scale(.7);
	}
}

/*Background Images*/
#Plant{
	background-image:url('images/plant.jpg');
}
#Shoe{
	background-image:url('images/shoe.jpg');
}
#Blanket{
	background-image:url('images/blanket.jpg');
}
#TV{
	background-image:url('images/tv.jpg');
}
#Fan{
	background-image:url('images/fan.jpg');
}
#Baseball{
	background-image:url('images/baseball.jpg');
}